<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simpleURLShortener.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF35A8581E2ABE3F000961B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF7F572B1E2AEDC300177743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFBB9E091DF4B8FD006C62D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
